<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>myingVue</title>
</head>

<body>
  <div id="app">
    <p>{{name}}</p>
    <input type="text" v-model="name">
    <div>{{name}}</div>
    <div>{{name1}}</div>
    <input type="text" v-model="name1">
  </div>
  <script>
    class Vue {
      constructor(options) {
        this.$options = options
        this.$data = options.data;
        this.$dep = new Dep()
        this.observe(this.$data)
        new Compile(options.el, this)
        if (options.mounted) {
          options.mounted.call(this)
        }
      }

      observe(obj) {
        const vm = this
        Object.keys(obj).forEach(key => {
          this.proxyData(key)
          let value = obj[key]
          Object.defineProperty(obj, key, {
            get() {
              return value
            },
            set(newVal) {
              vm.$dep.notify(key, newVal)
              value = newVal
            }
          })
        })
      }

      // 代理data
      proxyData(key) {
        Object.defineProperty(this, key, {
          get() {
            return this.$data[key]
          },

          set(newVal) {
            this.$data[key] = newVal
          }
        })
      }
    }

    /**
     * 编译
     * dom的更新
     */
    class Compile {
      constructor(el, vm) {
        this.$el = document.querySelector(el)
        this.$vm = vm

        this.compile(this.$el)
      }

      compile(el) {
        const childNodes = Array.from(el.childNodes)

        childNodes.forEach((node) => {
          // 标签类型
          if (this.isElement(node)) {
            // 遍历attributes
            this.comAttributes(node)
            // console.log(node, node.nodeType, node.childNodes);
          }
          // 匹配出带有{{}}内容
          if (this.isText(node)) {
            // text类型
            this.compileText(node)
          }

          // 递归遍历所有节点
          if (node.childNodes && node.childNodes.length > 0) {
            this.compile(node)
          }
        });
      }

      // 编译行内指令
      comAttributes(node) {
        const {
          attributes
        } = node
        // console.log(attributes);
        Array.from(attributes).forEach((attr) => {
          const attrName = attr.name
          const attrValue = attr.value
          if (this.isDirective(attrName)) {
            const dir = attrName.substring(2)
            // 执行具体功能
            this[dir] && this[dir](node, attrValue)
            // console.log(attr, attrName, dir, attrValue);
          }
        })
      }

      // v-model赋值、监听input输入
      model(node, exp) {
        this.inputUpdater(node, this.$vm[exp])
        new Watcher(this.$vm, exp, (value) => {
          this.inputUpdater(node, value)
        })
        node.addEventListener('input', e => {
          this.$vm[exp] = e.target.value
        })
      }

      // 编译文本
      compileText(node) {
        this.textUpdater(node, this.$vm[RegExp.$1])
        // 记录Watcher
        new Watcher(this.$vm, RegExp.$1, (value) => {
          this.textUpdater(node, value)
        })
      }

      inputUpdater(node, text) {
        node.value = text
      }

      textUpdater(node, text) {
        node.textContent = text
      }

      isElement(node) {
        return node.nodeType === 1
      }

      isText(node) {
        return node.nodeType === 3 && /\{\{(.*)\}\}/.test(node.textContent)
      }

      // 自定义指令、包含v-且在最前面
      isDirective(attr) {
        return attr.indexOf('v-') === 0
      }
    }

    /** 
     * 监听
     */
    class Watcher {
      constructor(vm, key, update) {
        this.key = key
        this.update = update
        vm.$dep.addDep(key, this)
      }
    }

    //依赖搜集
    //Dep: 用来管理 Watcher
    class Dep {
      constructor() {
        this.deps = {}
      }
      addDep(key, watcher) {
        const wArr = this.deps[key] || []
        wArr.push(watcher)
        this.deps[key] = wArr
      }
      notify (key, value) {
        this.deps[key].forEach(watcher => {
          watcher.update(value)
        })
      }
    }
    new Vue({
      el: '#app',
      data: {
        name: '123',
        name1: ''
      },

      mounted () {
        console.log('mounted')
        this.name = '456'
      }
    })
  </script>
</body>

</html>